<!-- Home Page -->
<section class="home-page">
  <!-- Search Navbar -->

  <!-- Carousel -->

  <div class="slider">
    <div class="slider-container">
      <div class="slide">
        <img
          src="https://assets-in.bmscdn.com/promotions/cms/creatives/1688408453751_web.jpg"
          alt="Image 1"
        />
      </div>
      <div class="slide">
        <img
          src="https://assets-in.bmscdn.com/promotions/cms/creatives/1689679473819_horrordesktop.jpg"
          alt="Image 2"
        />
      </div>
      <div class="slide">
        <img
          src="https://assets-in.bmscdn.com/promotions/cms/creatives/1688198088033_motogpdesktop.jpg"
          alt="Image 3"
        />
      </div>
      <div class="slide">
        <img
          src="https://assets-in.bmscdn.com/promotions/cms/creatives/1689679473819_horrordesktop.jpg"
          alt="Image 4"
        />
      </div>
    </div>
  </div>
  <!-- Dots Navigation -->
  <div class="dots-container">
    <span
      class="dot"
      *ngFor="let slide of slides"
      [class.active]="currentIndex === slides.indexOf(slide)"
      (click)="jumpToSlide(slide)"
    ></span>
  </div>


  <!-- slider -->

  <div class="slider-container2">
    <p>Recommended Movies</p>
    <div class="slider2">
      <div class="slider-inner" [style.transform]="'translateX(' + sliderPosition3 + 'px)'">
        <div class="slide2" *ngFor="let image of images3">
          <img [src]="image" alt="Image">
        </div>
      </div>
    </div>
    <button class="slider-button prev" (click)="slidePrev3()">⇒</button>
    <button class="slider-button next" (click)="slideNext3()">⇐</button>
  </div>
  


  

    <!-- custom div -->
    <div class="custom-div">
      <h1>ENJOY YOUR ENDLESS ENTERTAINMENT ANYTIME. ANYWHERE !</h1>
    </div>
    

<!-- ********************************************************************************************************** -->

<div class="slider-container2">
  <p>The Best Of Life Events</p>
  <div class="slider2">
    <div class="slider-inner" [style.transform]="'translateX(' + sliderPosition1 + 'px)'">
      <div class="slide2" *ngFor="let image of images1">
        <img [src]="image" alt="Image">
      </div>
    </div>
  </div>
  <button class="slider-button prev" (click)="slidePrev1()">⇒</button>
  <button class="slider-button next" (click)="slideNext1()">⇐</button>
</div>

<div class="slider-container2">
  <p>Online Streaming Events</p>
  <div class="slider2">
    <div class="slider-inner" [style.transform]="'translateX(' + sliderPosition2 + 'px)'">
      <div class="slide2" *ngFor="let image of images2">
        <img [src]="image" alt="Image">
      </div>
    </div>
  </div>
  <button class="slider-button prev" (click)="slidePrev2()">⇒</button>
  <button class="slider-button next" (click)="slideNext2()">⇐</button>
</div>



</section>



<!-- Add this script below your custom slider HTML code -->



