<!-- login.component.html -->
<div class="container">
    <h2>Login YourSelf to Enjoy Our Cool Fearures !</h2>
    <form (submit)="submitForm()" class="login-form">
        <div class="form-group">
            <input type="email" id="email" name="email" [(ngModel)]="user.email" required placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" [(ngModel)]="user.password" required placeholder="Password">
        </div>
        <button type="submit">Login</button>
    </form>
</div>
