h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  form {
    border: 10px solid red;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
  }
  
 
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input{
    width: 94%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  select {
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill="%23424242" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7 10l5 5 5-5z"/%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 30px;
  }
  
  .dialog-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  button.cancel {
    background-color: #f44336;
  }
  
  /* Hover styles */
  button:hover {
    background-color: #0056b3;
  }
  
  select:hover {
    border-color: #0056b3;
  }
  
  /* Focus styles */
  button:focus,
  select:focus,
  input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #007bff;
  }

  .modal-container {
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure the modal is above other elements */
     background-color: rgba(0, 0, 0, 0.8); /* Add a semi-transparent background */
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;  
    /* border: 10px solid green;
    margin: auto; */
  }