<div class="navbar-container">
  <!-- First Navbar -->
  <nav class="search-nav">
    <div class="main_div">
      <div class="logo">
       <a href="/">
        <img
        src="https://tse1.mm.bing.net/th?id=OIP.Dz0E7a2Im57ETxc31wk9IwHaDU&pid=Api&P=0&h=180"
        alt="Logo"
      />
       </a>
        <span>BookMyEntertainment</span>
      </div>
      
      <div class="search-box">
        <ng-container *ngIf="showEntityNavbar; else searchInput">
          <a routerLink="/movies">
            <input
              type="text"
              placeholder="Search..."
              #searchInputBox
              (keyup)="onSearchMovie(searchInputBox.value)"
              [(ngModel)]="spokenText"
            />
            <button (click)="toggleListening()">
              <i class="fa fa-microphone" [style.color]="micIconColor"></i>
            </button>
          </a>
        </ng-container>
        <ng-template #searchInput>
          <input
            type="text"
            placeholder="Search..."
            #searchInputBox
            (onChange)="onSearchMovie(searchInputBox.value)"
            [(ngModel)]="spokenText"
          />
          <button (click)="toggleListening()">
            <i class="fa fa-microphone" [style.color]="micIconColor"></i>
          </button>
        </ng-template>
      </div>
      




      <div class="auth-buttons">
        <!-- Add your login and signup buttons here -->
        <!-- Example: -->
        <a href="login"><button class="login-button">Log In</button></a>
        <a href="signup"><button class="signup-button">Sign Up</button></a>
      </div>
      <div class="hamburger-menu" (click)="toggleHamburgerMenu()">
        <!-- Hamburger menu icon -->
        <div class="hamburger-icon">
          <!-- Add your hamburger menu icon here -->
          <!-- Example: Using Font Awesome -->
          <i class="fa fa-bars"></i>
        </div>
        <!-- Hamburger menu content -->
        <div class="hamburger-content" >
          <!-- Add your navigation links here -->
          <!-- Example: -->
          <!-- <a routerLink="/">Home</a> -->
          <!-- <a routerLink="/movies">Movies</a> -->
          <!-- <a routerLink="/shows">Shows</a> -->
          <!-- <a routerLink="/events">Events</a> -->
          <!-- You can add more navigation links based on your entities -->
        </div>
      </div>
    </div>
  </nav>

  <!-- Second Navbar (Entities Navbar) -->
  <nav class="entity-nav" *ngIf="showEntityNavbar">
    <div class="nav-items">
      <a routerLink="/movies" routerLinkActive="active">Movies</a>
      <a routerLink="/booking" routerLinkActive="active">My Bookings</a>
      <a routerLink="/account" routerLinkActive="active">Account</a>
      <a routerLink="/offers" routerLinkActive="active">Offers</a>
      <a routerLink="/help" routerLinkActive="active">Help</a>
    </div>
  </nav>
</div>
