.chatbot-page {
  background-image: url("https://tse4.mm.bing.net/th?id=OIP.tcvlGxhWnDVNtj4xzVjYQAHaEK&pid=Api&P=0&h=180");
  background-size: cover;
  background-repeat: no-repeat;
}

.chat-history {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.user-message,
.bot-message {
  align-self: flex-start;
  background-color: #ffffff;
  color: #000;
  border-radius: 15px;
  padding: 8px 12px;
  display: inline-block;
  max-width: 70%;
  margin-bottom: 5px;
  font-size: 17px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2),
    0px 7px 13px -3px rgba(0, 0, 0, 0.15), 0px -3px 0px inset rgba(0, 0, 0, 0.1);
}

.user-message {
  align-self: flex-end;
  background-color: #e2f2e2;
}

.typing-indicator {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #008cba;
  margin-right: 4px;
  animation: dot-pulse 1s infinite;
}

@keyframes dot-pulse {
  0% {
    opacity: 0.2;
    transform: scale(0.8);
  }
  50% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0.2;
    transform: scale(0.8);
  }
}

.user-input {
  display: flex;
  align-items: center;
}

.user-input input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 20px;
  font-size: 17px;
  margin-right: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25),
    0px -12px 30px rgba(0, 0, 0, 0.12), 0px 4px 6px rgba(0, 0, 0, 0.12),
    0px 12px 13px rgba(0, 0, 0, 0.17), 0px -3px 5px rgba(0, 0, 0, 0.09);
  transition: box-shadow 0.3s ease;
}

.user-input input:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.send-button {
  background-color: #5ae666;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #00b36e;
}

.send-button {
  background: linear-gradient(45deg, #00c4cc, #ff1493);
}

.bot-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  /* text-transform: uppercase; */
  font-weight: 500;
  font-size: 24px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: fade-in 1s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.bot-heading img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 50%;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* Responsive Styling */
@media (max-width: 768px) {
  .chatbot-container {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .chatbot-container {
    width: 100%;
  }
}

/* Responsive Styling */
@media (max-width: 768px) {
  .chatbot-page {
    flex-direction: column;
    align-items: center;
  }

  .chatbot-container {
    width: 90%;
  }
}

/* Chatbot styles */
.chatbot-page {
  display: flex;
  padding: 30px;
  font-family: Arial, sans-serif;
  /* border: 10px solid green; */
  height: 90%;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.chatbot-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 800px;
  border-radius: 20px;
  padding: 2%;
  height: 90%;
  margin-top: 2%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4),
    0px 7px 13px -3px rgba(0, 0, 0, 0.3), 0px -3px 0px inset rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  border: 3px solid red;
}

/* Responsive Styling */
@media (max-width: 992px) {
  .chatbot-container {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .chatbot-page {
    flex-direction: column;
    align-items: center;
  }

  .chatbot-container {
    width: 90%;
    margin-top: 3%;
  }
}

@media (max-width: 576px) {
  .chatbot-container {
    width: 100%;
    margin-top: 5%;
  }
}

@media (max-width: 285px) {
  .chatbot-page {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  .chatbot-container {
    width: 100%;
    margin-top: 3%;
  }
}

.user-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 4%;
}

.user-input input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  margin-right: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25),
    0px -12px 30px rgba(0, 0, 0, 0.12), 0px 4px 6px rgba(0, 0, 0, 0.12),
    0px 12px 13px rgba(0, 0, 0, 0.17), 0px -3px 5px rgba(0, 0, 0, 0.09);
  transition: box-shadow 0.3s ease;
  /* border: 2px solid rgb(128, 0, 0); */
}

.user-input input:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.send-button {
  background-color: #5ae666;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #00b36e;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .user-input {
    flex-direction: row;
    align-items: center;
  }

  .user-input input {
    width: 100%;
    max-width: 100%;
    margin-right: 10px;
  }

  .send-button {
    align-self: flex-start;
  }
}
