

<div class="chatbot-page">
    <div class="chatbot-container">
      <h1 class="bot-heading">
        <img class="bot-icon"
          src="https://tse4.mm.bing.net/th?id=OIP.e1Le_1We1PxnCPUT5FDbvwHaHv&pid=Api&P=0&h=180"
          alt="Bot Icon">
        {{ dynamicContent[dynamicContentIndex] }}
      </h1>
  
      <div class="chat-history">
        <div *ngFor="let message of chatHistory">
          <div *ngIf="message.startsWith('User:')" class="user-message">
            <i class="fas fa-user"></i>
            {{ message }}
          </div>
          <div *ngIf="message.startsWith('Bot:')" class="bot-message">
            <i class="fas fa-robot"></i>
            {{ message }}
          </div>
        </div>
        <div *ngIf="isBotTyping" class="typing-indicator">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
  
      <div class="user-input">
        <input type="text" [(ngModel)]="userMessage" placeholder="Type your message" (keyup.enter)="sendMessage()" class="input-box">
        <button class="send-button" (click)="sendMessage()">
          <i class="fas fa-paper-plane"></i>
        </button>
      </div>
    </div>
  
   
    
  </div>
  
 
  
  
  
  